<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>We would love to hear from you..</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> San Francisco, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1415151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> email@something.com</p>	   
    </div>

    <!-- form to submit the email -->
    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbysEpgNhSX8FtnygSQjSmaWNw9Y2jLXO9dNqLXKk4Mxa1IVlx0/exec">
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="What your Mom calls you.." type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          <span id="email-invalid" style="visibility:hidden">Must be a valid email address</span>
        </div>
      </div>
      <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>	
    </div>
    </form>

  </div>
</div>

<!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    <h2><em>Thanks</em> for contacting us!
      We will get back to you soon!</h2>
  </div>


